<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>consultar bines</title>
    <link rel="stylesheet" href="/css/view.css">

</head>
<body>
<form id="searchForm">
    <input type="text" id="searchId">
    <button id="search">Search</button>
</form>
<span>Bin:</span><span id="bin"></span></br>
<span>Payment Method:</span><span id="paymentMethod"></span></br>
<span>Country:</span><span id="country">}}</span></br>
<script src="/js/search.js"></script>
</body>
</html>