<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ver bines</title>
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
{{>header}}
<span>Bin:</span><span>{{bin}}</span></br>
<span>Payment Method:</span><span>{{paymentMethod}}</span></br>
<span>Country:</span><span>{{country}}</span></br>
</body>
</html>